body {
    background-color: black;
    /*background-image: url('assets/background.png');*/
}

.content {
    background-image: url('assets/background.png');
    margin-left: 10%;
    margin-right: 10%;
}

.content_box {
    padding-left: 15%;
    padding-right: 15%;
}

header {
    background-color: #333;
    height: 90px;
}

nav {
    overflow: hidden;
    padding-top: 20px;
}

nav a {
    float: right;
    color: hotpink;
    text-align: center;
    padding: 10px 30px;
    text-decoration: underline;
    font-size: 24px;
}